*{
    padding: 0px;
    margin: 0px;
}

#container{
    width: 95%;
}
.login{
    width: 40%;
    padding: 35px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}
.error{
    color: red;
}
